<template>
    <div>
        <router-view :key="$route.path"></router-view>
    </div>
</template>
<script>
    export default {
        data() {
            return {

            }
        },
        mounted() {
          console.log('App')
        },
        methods:{

        },
        watch:{

        }
    }
</script>
<style>

</style>