<template>
  <div class="book-card bg-white p-2 border">
    <img class="img-fluid w-100" :src="'.'+data['image']" alt=""/>
    <p class="font-weight-bold">ISBN: {{ data.isbn }}</p>
    <p class="small font-weight-bold">Title: {{ data.title }}</p>
    <p class="small">Description: {{ data.description }}</p>
  </div>
</template>
<script>
export default {

  props: {
    'data': Object
  },
  data() {
    return {}
  },
  mounted() {

  },
  methods: {},
  watch: {}
}
</script>
<style>

</style>