<template>
  <div>
    <h3>Books</h3>
    <div class="row">
      <div class="col-12 mb-2">
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon-2">ISBN-13/Book title</span>
          </div>
          <input type="text" class="form-control" placeholder="Title" aria-label="Title" v-model="search_field"
                 aria-describedby="basic-addon-2" :disabled="disable">
        </div>
        <span class="small">At least 3 chars. If you want to find book by ISBN - start from <span
            class="font-weight-bold">#</span></span>
      </div>
    </div>
    <div class="row mb-2" v-if="book_list.length">
      <div class="col">
        <button class="btn btn-sm btn-primary" @click="page=page-1" v-if="page!==0"><<</button>
        <button class="btn btn-sm btn-primary" @click="page=page+1" v-if="book_list.length===100">>></button>
      </div>
    </div>
    <div class="row">
      <div class="col-4 mb-2" v-for="(item, index) in book_list" :key="index">
        <Card :data="item"></Card>
      </div>
    </div>
  </div>
</template>
<script>

import API from "../../../js/api";
import Card from "../Component/Card";

export default {

  name: 'Index',
  components: {Card},
  data() {
    return {
      book_list: [],
      page: 0,

      /* search */
      search_field: '',
      disable: false
    }
  },
  mounted() {
    this.load(this.page);
  },
  methods: {

    load: function (page) {

      this.disable = true;
      this.book_list = [];

      API.fetchBookByPagination(page).then(list => {
        this.book_list = list;
        console.log(this.book_list);
      }).catch(e => {
        console.log(e)
      }).finally(() => {
        this.disable = false
      })
    },
    autoload: function () {

      this.disable = true;
      this.book_list = [];
      this.page = 0;

      console.log(this.search_field)

      API.fetchBookBySearchPagination(this.search_field, this.page).then(list => {
        this.book_list = list;
      }).catch(e => {
        console.log(e)
      }).finally(() => {
        this.disable = false
      })

    }
  },
  computed: {},
  filters: {},
  watch: {
    search_field: function (value) {
      if (value.length > 2) {
        this.autoload()
      } else if (!value) {
        this.load(0);
      }
    },
    page: function (value){
      if (this.search_field.length){
        this.autoload()
      } else {
        this.load(value)
      }
    }
  }
}
</script>
<style lang="scss">

</style>