{% extends 'base.html.twig' %}

{% block title %}Admin zone!{% endblock %}

{% block stylesheets %}{{ encore_entry_link_tags('index') }}{% endblock %}
{% block javascripts %}{% endblock %}

{% block body %}

    {% if is_working == 0 %}
        <h3>Import XML file with books</h3>

        {{ form_start(form) }}
        {{ form_row(form.file) }}
        {{ form_row(form.save, { 'label': 'Upload' }) }}
        {{ form_end(form) }}
    {% else %}
        <h3 class="alert alert-danger">Importing is not complete, exported {{ counter }} book</h3>

    {% endif %}

{% endblock %}

