{% extends 'base.html.twig' %}

{% block title %}Book store{% endblock %}

{% block stylesheets %}{{ encore_entry_link_tags('index') }}{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('index') }}{% endblock %}

{% block body %}
    <div id="app">
        <App></App>
    </div>
{% endblock %}

