{% extends 'base.html.twig' %}

{% block title %}Admin zone!{% endblock %}

{% block stylesheets %}{{ encore_entry_link_tags('index') }}{% endblock %}
{% block javascripts %}{% endblock %}

{% block body %}
    <h3>File upload successfully</h3>
{% endblock %}

