<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container mt-2">
            {% block body %}{% endblock %}
        </div>
    </body>
    {% block javascripts %}{% endblock %}
</html>
